body {
    padding: 50px;
}

.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.footer {
    height: 200px;
    background-color: black;
    color: white;
}

img .footer {
    height: 39px;
    
}