.footer {
    padding: 66px 464px 29px 463px;
    
    background-color: black;
    color: white;
    text-align: center;
    display: grid;
    place-items: center;
    

        &__logo img {
        width: 122px;
        height:39px;
        margin-bottom: 28px;
    
    }
}
