.Appartment {

    margin-top: 100px;
    border-radius: 15px;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: white;
    
    
}

